<h1>about page</h1>
<ngx-element selector="element-about"></ngx-element>
<a href="/">Go to top page</a>

<script src="<%= filePaths.main %>" defer></script>
<script src="<%= filePaths.polyfills %>" defer></script>
<script src="<%= filePaths.runtime %>" defer></script>
