<h1>top page</h1>
<ngx-element selector="element-top"></ngx-element>
<a href="/about">Go to about page</a>

<script src="<%= filePaths.main %>" defer></script>
<script src="<%= filePaths.polyfills %>" defer></script>
<script src="<%= filePaths.runtime %>" defer></script>
